<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <%- include('sidebar') %>
        <div class="col-sm-10">
          <h1><%= title %></h1>
          <form action="" method="POST" style="width: 400px;">
            <div>
              <label for="itemname">Name:</label>
              <input type="text" name="itemname" id="itemname" class="form-control">
            </div>
            <div>
              <label for="itemdesc">Description:</label>
              <input type="text" name="itemdesc" id="itemdesc" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary" style="margin-top: 24px;">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
